@charset "UTF-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	overflow: hidden;
	background-color: #EDEDEC;
}
#wrapper {
	float: left;
	width: 1024px;
	overflow: hidden;
	background: white;
}
#intro {
	padding-bottom: 10px;
}
h2 {
	padding: 0;
	margin: 0 0 14px 0;
}
#slider {
	z-index: 1;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.scroll {
	clear: left;
	height: 768px;
	width: 1024px;
	overflow: hidden;
	position: relative;
}
.scrollContainer div.panel {
	height: 768px;
	width: 1024px;
}
#shade {
	height: 50px;
}
/** Frame design **/

.top-panel {
	float: left;
	width: 100%;
	height: 60px;
}
.mid-panel {
	float: left;
	width: 100%;
	height: auto;
}
.left-press {
	float: left;
}
.mid-press {
	float: left;
	width: 824px;
	height: 768px;
}
.right-press {
	float: right;
}
.left-press, .right-press {
	width: 100px;
	height: 768px;
	overflow: hidden;
}
.left-press a, .right-press a {
	float: left;
	font-size: 0px;
	color: transparent;
	padding: 780px 50px;
}
.left-press1 {
	top: 0;
	left: 0;
	position: absolute;
}
.right-press1 {
	z-index: 3;
	position: relative;
	top: 0;
	right: 0;
	font-size: 0px;
}
.left-press1, .right-press1 {
	width: 100px;
	height: 768px;
	font-size: 0px;
	overflow: hidden;
}
.left-press1 a, .right-press1 a {
	float: left;
	font-size: 0px;
	padding: 780px 50px;
}
/** Menu assets **/

.openmenu {
	z-index: 3;
	bottom: 85px;
	left: 	4px;
	width: 82px;
	height: 83px;
	margin: 5px;
	position:absolute;
}
.closemenu {
	display: none;
	z-index: 3;
	bottom: 85px;
	left: 	4px;
	width: 82px;
	height: 83px;
	margin: 5px;
	position:absolute;
}
/** Gallery **/

.backdrop {
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	width:100%;
	height:100%;
	display:none;
	opacity: .8;
	background:#000;
	filter:alpha(opacity=80);
}
.box {
	position:absolute;
	top:20%;
	left:30%;
	width:500px;
	height:300px;
	background:#ffffff;
	z-index:51;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0px 0px 5px #444444;
	-webkit-box-shadow:0px 0px 5px #444444;
	box-shadow:0px 0px 5px #444444;
	display:none;
}
.close {
	float:right;
	cursor:pointer;
	margin: 0 6px 0 0;
}
.left-panel, .right-panel {
	overflow: hidden;
	position: relative;
	opacity: 0.3;
}
.fancybox {
	font-size: 0px;
	float: left;
	width: 100%;
	height: 100%;
}
.fancybox img {
	float: left;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.mid-left {
	float: left;
	width: 100%;
	height: 600px;
}
/* Mid Button sizes */

.midbutton {
	margin: 240px auto;
	width: 730px;
	height: 360px;
}
.midbutton-h {
	top: 237px;
	left: 147px;
	width: 730px;
	height: 360px;
	position: absolute;
}
.midbutton-h img {
	float: left;
	width: 100%;
	height: 100%;
}
.midbutton4 {
	margin: 175px auto 0;
	width: 730px;
	height: 410px;
}
.midbutton4-h {
	top: 175px;
	left: 145px;
	width: 730px;
	height: 410px;
	position: absolute;
}
.midbutton5 {
	margin: 210px auto 0;
	width: 600px;
	height: 380px;
}
.midbutton6 {
	margin: 170px auto 0;
	width: 520px;
	height: 430px;
}
.midbutton7 {
	margin: 180px auto 0;
	width: 705px;
	height: 400px;
}
.midbutton10 {
	margin: 180px auto 0;
	width: 100%;
	height: 350px;
}
.midbutton10-h {
	top: 180px;
	left: 86px;
	width: 850px;
	height: 350px;
	position: absolute;
}
.midbutton11 {
	margin: 210px 0 0 60px;
	width: 72%;
	height: 325px;
}
.midbutton12 {
	margin: 130px auto 0;
	width: 610px;
	height: 460px;
}
.midbutton13 {
	float: right;
	margin: 155px 0 0 0;
	width: 435px;
	height: 417px;
}
.midbutton14 {
	left: 28px;
	float: right;
	position: relative;
	margin: 155px 0 0 0;
	width: 452px;
	height: 417px;
}
.midbutton15 {
	margin: 190px auto 0;
	width: 726px;
	height: 397px;
}
.pagebutton {
	float: left;
	width: 100%;
	height: 48px;
	margin-top: 700px;
}
.pagestudy {
	left: 30px;
	float: right;
	width: 140px;
	height: 48px;
	position: relative;
	opacity: 0.5;
}
.pagestudy2 {
	float: left;
	width: 180px;
	height: 48px;
	margin-top: 170px;
	margin-left: 800px;
	position: absolute;
	opacity: 0.5;
}
.pagestudy img {
	float: left;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* Mid Button sizes */

.midbutton img {
	float: left;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.mid-right {
	float: left;
	width: 100%;
	opacity: 0.2;
	height: 50px;
}
.botbutton {
	float: right;
	width: 100px;
	height: 50px;
	margin-right: 142px;
}
.activebutton {
	margin-top: 430px;
	float: right;
	width: 125px;
	height: 50px;
	opacity: 0.4;
}
.activebutton2 {
	margin-top: 490px;
	margin-right: 50px;
	float: right;
	width: 125px;
	height: 50px;
	opacity: 0.4;
}
.activebutton3 {
	margin-top: 455px;
	margin-right: 0px;
	float: right;
	width: 125px;
	height: 50px;
	opacity: 0.4;
}
.activebutton4 {
	margin-top: 368px;
	margin-right: 0px;
	float: right;
	width: 125px;
	height: 50px;
	opacity: 0.4;
}
.activebutton5 {
	z-index: 2;
	right: -5px;
	bottom: -5px;
	position: absolute;
	width: 125px;
	height: 50px;
	opacity: 0.4;
}
.activebutton6 {
	margin-top: 482px;
	margin-right: 0px;
	float: right;
	width: 125px;
	height: 50px;
	opacity: 0.4;
}
.return {
	z-index: 2;
	opacity: 0.4;
	position: absolute;
	bottom: 40px;
	right: 40px;
	width: 270px;
	height: 80px;
	overflow: hidden;
	background: ;
}
.return img {
	float: left;
	width: 100%;
	height: 100%;
}
.return2 {
	z-index: 2;
	opacity: 0.4;
	position: absolute;
	top: 80px;
	right: 10px;
	width: 210px;
	height: 70px;
}
.return3 {
	z-index: 2;
	opacity: 0.4;
	position: absolute;
	top: 30px;
	left: 30px;
	width: 280px;
	height: 100px;
}
.videot {
	top: 0;
	position: absolute;
}

#content {
	float: left;
	height:100%;
	width:100%;
	overflow:hidden;
	position:relative;
}
#imgs {
	float:left;
	display:inline;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	padding:0px;
	margin:0px;
	width:3312px;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

/* For Slide styles */

.leftclick2 {
	float: left;
	width: 314px;
	height: 100%;
}
.mybutton2 {
	float: left;
	width: 100%;
	height: 180px;
	border: none;
	background: none;
	font-size: 0px;
	margin: 163px 0 0;
}
.popup2 {
	float: left;
	width: 700px;
	height: 563px;
	background: url(PopUp4.png) no-repeat 0 0;
}
.rightside2 {
	float: left;
	width: 300px;
	height: 500px;
	margin-top: 63px;
}
.hidebar5 {
	float: right;
	width: 101px;
	height: 436px;
	background: white;
	margin: 0 20px 0 0;
}
/* Another slide */

.leftclick {
	float: left;
	width: 300px;
	height: 100%;
}
.popup {
	float: left;
	width: 900px;
	height: 564px;
}
.rightside {
	float: left;
	width: 560px;
	margin-top: 60px;
}
.hidebar1 {
	float: left;
	width: 52px;
	margin: 0 0 0 79px;
}
.hidebar2 {
	float: left;
	width: 52px;
	margin: 0 0 0 89px;
}
.hidebar3 {
	float: left;
	width: 53px;
	margin: 0 0 0 89px;
}
.hidebar4 {
	float: left;
	width: 53px;
	margin: 0 0 0 88px;
}
.hidebar1, .hidebar2, .hidebar3, .hidebar4 {
	height: 400px;
	background: white;
}
.mybutton1 {
	float: left;
	width: 300px;
	height: 200px;
	border: none;
	background: none;
	margin: 185px 0 0 0;
	font-size: 0px;
}
/* Another slide */

.floatblock {
	z-index: 1;
	position: absolute;
	width: 595px;
	height: 325px;
}
.clouds {
	float: left;
	background: url(backgrounds/scroll-1.jpg) repeat-x 0 bottom;
	width:351px;
	height:210px;
	margin-top: 57px;
	margin-left: 75px;
}
.clouds2 {
	background: url(backgrounds/scroll-2.jpg) repeat-x 0 bottom;
	width:521px;
	height:346px;
	margin-left: 132px;
	margin-top: 61px;
	float: left;
	border-left: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
}
/* Another slide */

.buttons6 {
	float: left;
	width: 200px;
	height: 100%;
}
.minitoggle {
	float: left;
	width: 100%;
	height: 133px;
	margin-top: 125px;
	background: none;
	border: none;
	font-size: 0;
}
.barholder {
	float: left;
	width: 300px;
	height: 390px;
	margin-top: 40px;
}
.midbutton6bar1 {
	float: right;
	height: 338px;
	width: 100px;
	margin-right: 35px;
	background: white;
}
.largebutton {
	z-index: 1;
	right: 250px;
	position: absolute;
	width: 320px;
	height: 430px;
}
/* Another slider */

.buttons5 {
	float: left;
	width: 200px;
	height: 100%;
}
.minitoggle5 {
	float: left;
	width: 100%;
	height: 133px;
	margin-top: 125px;
	background: none;
	border: none;
	font-size: 0;
}
.barholder5 {
	float: left;
	width: 400px;
	height: 272px;
	overflow: hidden;
	margin-top: 40px;
}
.midbutton5bar1 {
	float: left;
	width: 40px;
	height: 100%;
	margin-left: 50px;
	background: white;
}
.midbutton5bar2 {
	float: left;
	width: 40px;
	height: 100%;
	margin-left: 55px;
	background: white;
}
.midbutton5bar3 {
	float: left;
	width: 40px;
	height: 100%;
	margin-left: 55px;
	background: white;
}
.midbutton5bar4 {
	float: left;
	width: 40px;
	height: 100%;
	margin-left: 56px;
	background: white;
}
.largebutton5 {
	z-index: 1;
	right: 210px;
	position: absolute;
	width: 400px;
	height: 380px;
}

/* Page 1 elements */
