@charset "UTF-8";
/* CSS Document */

#mainMenu {
	top: 0;
	left: -320px;
	width: 320px;
	height: 768px;
	z-index: 5;
	position: fixed;
	background: #cf1931;
}
#menuTitle {
	float: left;
	width: 100%;
	color: white;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
	border-bottom: 1px solid white;
	background: #cf1931;
}
#menuTitle span {
	top: -5px;
	position: relative;
	font-size: 14px;	
}
#tabs {
	float: left;
	width: 100%;
	height: 600px;
	padding: 0px;
	clear: both;
}
#tabs ul {
	float: left;
	width: 280px;
	height: 41px;
	margin: 0;
	padding: 10px 20px;
	background: #cf1931;
}
#tabs li {
	float: left;
	width: 90px;
	margin: 0px;
	padding: 0px;
	display: inline;
	list-style: none;
}
#tabs li:first-child {
	margin: 0 5px 0 0;
}
#tabs li:last-child {
	margin: 0 0 0 5px;
}
#tabs li, #tabs li a {
	float: left;
	text-align: center;
}
#tabs ul li.active {
}
#tabs ul li.active a {
	color: #cf1931;
	background: white;
-moz-box-shadow: inset 0px  0px 0px #903;
	-webkit-box-shadow: inset 0px  0px 0px #903;
}
#tabs div {
	clear: both;
	padding: 10px;
	min-height: 635px;
	background: #cf1931;
}
#tabs div h3 {
	float: left;
	clear: both;
	margin: 0px;
	color: #666;
	padding: 0px 0 5px 10px;
	width: 280px;
	font-size: 16px;
}
#tabs div p {
	line-height: 150%;
}
#tabs ul li a {
	color: #000;
	width: 90px;
	padding: 10px 0;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	background: #b31e30;
	-moz-box-shadow: inset 5px  5px 5px #903;
	-webkit-box-shadow: inset 5px  5px 5px #903;
}
.tab-holder {
	width: 300px;
	height: 400px;
	overflow: scroll;
}
.menu-div {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 300px;
	overflow: hidden;
	background: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.menu-div a:first-child {
	border-top:none;
}
.menu-div a:last-child {
	border-bottom:none;
}
.menu-div a {
	float: left;
	width: 290px;
	color: #666;
	font-size: 14px;
	text-decoration: none;
	padding: 12px 0 12px 10px;
	border-bottom: 2px solid #cf1931;
}
.menu-div a:active {
	color: #E7E7E7;
}
.menu-content h2 {
	margin: 20px 0 0 20px;
	padding: 0;
	clear: both;
	color: #999;
	font-size: 14px;
	text-align: left;
}
